[project]
	description = The program uses file handling to display good, bad and average boys in a class. 
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/prankyprogrammer
[access "refs/for/refs/*"]
	read = group user/prankyprogrammer
	push = group user/prankyprogrammer
	label-Code-Review = -2..+2 group user/prankyprogrammer
	label-Verified = -1..+1 group user/prankyprogrammer
	rebase = group user/prankyprogrammer
	removeReviewer = group user/prankyprogrammer
	submit = group user/prankyprogrammer
[access "refs/heads/*"]
	read = group user/prankyprogrammer
	create = group user/prankyprogrammer
	push = +force group user/prankyprogrammer
	pushMerge = group user/prankyprogrammer
[access "refs/tags/*"]
	push = +force group user/prankyprogrammer
	pushTag = group user/prankyprogrammer
	pushSignedTag = group user/prankyprogrammer
